.banniere{
    display: none;
}
.team_description{
    text-align: center;
    font-weight: bold;
}

header{
    position: static;
    width: 100%;
}

.card img{
    width: 30%;
}

.card h3 p{
    text-align: center;
}

/* @media screen and (min-width: 30em) { 
    .banniere{
        display: block;
        width: 100%;
    }
    .cards{
        display: flex;
    }
    .card{
        width: 33%;
    }

    .card img{
        width: 25%;
    }

   
    
    header p{
        font-size: 15px;
        top: 0;
        width:100%;
        margin: 0;
        background-color: #b5f0e9;
        right: 0%;    
    }
    header{
        display:flex;
        position: fixed;
        width: 100%;
    }
    
    nav, li{
        margin-right: 10px;
    }
    
    nav, ul{
        list-style-type: none;
        justify-content: end;
        background-color: grey;
        width: 100%;
        display: flex;
    }
    
    nav, a{
        font-size: 15px;
        color: #1c2126;
        text-decoration: none;
    }
    
    .footer_description{
        display: flex;
    }
 } */
    



