/* NAVIGATEUR*/
body{
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: #F7CACA ;
    margin: 0%;
}

 /* HEADER + NAV */

header p{
    background-color: #e1dFE5;
    font-size: 20px;
    width: 30%;
    margin: 0%;
}

header{
    display: flex;
    width: 100%;
    margin: 20px;
}

nav li{
    margin-right: 10px;
}

nav ul{
    list-style-type: none;
    background-color: grey;
    display: flex;
    width: 100%;
    padding:0%;
    margin: 0%;
}

nav a{
    font-size: 20px;
    color: #1c2126;
    text-decoration: none;
}

/* BANNIERE */  
.banniere{
    width: 100%;
    display: block;
}

/* NOTRE EQUIPE */

.team{
    text-align: center;
    width: 100%;
    padding: 80px;
    background-color: green;
}

.team h2{
    font-size: 80px;
}

p.team_description{
    width: 90%;
    font-size: 90px;
}

.cards{
    width: 100%;
}

.card h3{
    font-size: 80px;
    margin: 20px;
}
.card p{
    
    font-size: 80px;
    width: 90%;
    margin: 20px;
}

.card img{
    width: 33%;
}   

/* BARRE D'INFO */
.info_clients{
    background-color: #053b44; 
}

.info_clients ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.info_clients li:nth-child(even){
    font-size: 50px;
    
    
}

.info_clients li:nth-child(odd){
    font-size: 80px;
    color:#d5f31f;
}

/* NOS SERVICES */

.our_services{
    text-align: center;
    width: 100%;
    padding: 80px;
}

.our_services h2{
    font-size: 45px;
}

.services_description img{
    background-color: #F6F5F5;
    width: 33%;
    padding: 10%;
    border-radius: 40%;
}

.services_description h3{
    font-size: 45px;
}


/* FORMULAIRe */

.section3{
    background-color: #053b44;   
    width: 100%; 
}

.section3 h2{
    font-size: 80px;
    text-align: center;
}

.section3 p{
    text-align: center;
    font-size: 45px;
}

 .formulaire label{ 
     font-size: 45px; 
} 

form label{
    display: flex;
}

form input{
    width: 50%;
    height: 40px;
    font-size: 30px;
}

input[type="button"]{
    background-color: #d5f31f;
    color: #053b44;
    font-weight: bold;
    border-radius: 20px;
    width: 20%;
}


/* ABOUT_US */

.aboutus{
    width: 100%;
    border: solid black 10px;
}

.bureau img {
    width: 100%;
}

.aboutus_description h2 {
    text-align: center;
    font-size: 80px;
}

.aboutus_description p {
    font-size: 50px;
}

.cards2 {
    display: flex;
    justify-content: space-evenly;
}

.card2 img {
    border: solid #053b44 10px;
    border-radius: 150px;
    padding: 40px;
}

.card2 h3 {
    text-align: center;
    font-size: 35px;
}

/* NOTRE GALERIE */

.galerie_description h2 {
    text-align: center;
    font-size: 80px;
}

.galerie_description p {
    text-align: center;
    font-size: 50px;
}

.galerie_description img {
    display: block;
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #053b44;
    width: 100%;
}

.footer_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer_description h2 {
    text-align: center;
    font-size: 50px;
}

.footer_description p {
    text-align: center;
    font-size: 20px;
}
/* .form-item1{
    position: relative;
    bottom: 50px;
    left: 50%;
}
.form-item3 {
    position: relative;
    bottom: 50px;
    left: 50%;
}

#message{
    width: 100%;
    height: 250px;
}

input[type="button"] {
    display: block;
    border-radius: 20px;
    font-weight: bold;
    background-color: yellow;
    width: 10%;
    height: 20px;
    font-size: 100%;
} */






  @media screen and (min-width: 1024px){ 

    body{
        background-color: white;
    }

    /* Header + NAV */

    header p{
        background-color:#e1dFE5;
        font-size: 20px;
        width: 30%;
        margin: 0%;
    }
    
    header{
        display: flex;
        width: 100%;
    }
    
    nav li{
        margin-right: 40px;
    }
    
    
    nav a{
        font-size: 20px;
        color: #1c2126;
        text-decoration: none;
    } 
     
        /* BANNIERE*/

        .banniere{
            width: 100%;
            display: block;
        }

        #title1{
            position: absolute;
            top: 100%;
            left: 50%;
            margin: 0%;
            font-size: 60px;
            color: #ffffff;
            width: 60%;
        }

        span{
            color: #D5F31F;
            position: relative;
            right: 20%;
            font-size: 70px;
            display: block;
            width: 100%;
        }

        #vert{
            width: 100%;
        }
        
        /* NOTRE EQUIPE*/ 
        .team {
        width: 100%;
        background-color: blue;
        }

        .team h2{
            font-size: 50px;

        }

        p.team_description{
            font-size: 30px;
        }

        .cards{
        display: flex;
        width: 100%;
        }
    
        .card h3{
        text-align: center;
        font-size: 30px;
        }
    
        .card p 
        {
        text-align: center;
        font-size: 20px;
        }
    
        .card img{
        width: 50%;
        border-radius: 50%;
        }
        /* BANNIERE D'INFO*/ 
        .info_clients{
        background-color: #053b44;
        display: flex;
        }

        .info_clients ul{
            display: flex;
            flex-direction: row;
        }

        li:nth-child(even){
            
        }
    
        /* NOS SERVICES*/
    
        /* .footer_description{
        display: flex;
        }   */
    }
       
