/* NAVIGATEUR*/
    body{
    
        height: 100%;
        font-size: 100%;
        margin: 0%;
        font-weight: bold;
    }

/* HEADER + NAV */

    header p{
        font-size: 50px;
        width: 30%;
        margin: 0%;
        color: #015A08;
    }

    header{
        display: flex;
        margin: 20px;
    }

    nav li{
        margin-right: 10px;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        padding:0%;
        margin: 0%;
    }

    nav a{
        font-size: 50px;
        color: #1c2126;
        text-decoration: none;
    }

/* BANNIERE */  

    .banniere{
        position: relative;
    }

    h1#banniere_title{
        position: absolute;
        color: #ffff;
        font-size: 56px;
        margin: 0;
        top: 72%;
        left: 53%;
    }

    span.title_color{
        color: #d5f31f;
    }

/* NOTRE EQUIPE */

    .team{
        text-align: center;
        padding: 80px;
    }

    .team h2{
        font-size: 80px;
        color: #029d5b;
    }

    p.team_description{
        font-size: 50px;
    }

    .card h3{
        font-size: 60px;
        margin: 20px;
        color: #1c2126;
    }
    .card p{

        font-size: 50px;
        width: 90%;
        margin: 20px;
        color: #565D65;
    }

    .card img{
        width: 33%;
        height: 50%;
    }   

/* BARRE D'INFO */
    .info_clients{
        text-align:center;
        background-color: #053b44; 
    }

    .info_clients ul{
        list-style-type: none;
        display: flex;
        justify-content:center;
        margin: 0%;
        padding: 0%;
    }

    .info_clients li{
        font-size: 40px;
        padding:40px;
        color: #ffff;
    }

     span.info_number{
         display: block;
         color: #d5f31f;
         font-size: 80px;

    }

/* NOS SERVICES */

    .our_services{
        text-align: center;
        padding: 80px;
    }

    .our_services h2{
        font-size: 80px;
        color: #029d5b;
    }

    .all_services{
        font-size: 45px;
    }

    .services_description img{
        width: 33%;
        border-radius: 40px;
        border: solid #F1F1F1 80px;
        padding: 0;
    }

    .services_description h3{
        font-size: 80px;
        color: #1c2126;
    }

/* FORMULAIRe */

    .formulaire{
        background-color: #053b44;   
    }

    .formulaire h2{
        font-size: 80px;
        text-align: center;
        color: #d5f31f;
    }

    .formulaire p{
        text-align: center;
        font-size: 45px;
        color: #ffff;
    }


    form input{
        width: 50%;
        height: 40px;
        font-size: 50px;
        background-color: #053b44;
        border: none;
        border-bottom: solid #ffff 5px;
        border-radius: 2px;
        margin: 40px;
        padding: 0;
    }

    #message{
        width: 886px;
        height: 445px;
        background-color: #053b44;
        border: none;
        border-bottom: solid #ffff;
        border-radius: 2px;
        font-size: 20px;
        margin: 40px;
        padding: 0;

    }

    #email{
        width: 90%;
    }


    input[type="button"]{
        background-color: #d5f31f;
        color: #053b44;
        font-weight: bold;
        border-radius: 20px;
        width: 20%;
    }

/* ABOUT_US */

    .bureau img {
        width: 100%;
    }

    .aboutus_description {
        /* display: flex; */
        text-align: center;
        border: solid  #053b44;
        border-radius: 20px;
        /* color: #053b44; */
        width: 100%;
    }

    .aboutus_description h2 {
        text-align: center;
        font-size: 80px;
    }

    .aboutus_description p {
        font-size: 50px;
        color: #565D65;
    }

    .cards2 {
        display: flex;
        justify-content: space-evenly;
    }

    .card2 img {
        border: solid #053b44 10px;
        border-radius: 150px;
        padding: 40px;
    }

    .card2 h3 {
        text-align: center;
        font-size: 50px;
        color: #053b44;
    }

/* NOTRE GALERIE */

    .galerie_description h2 {
        text-align: center;
        font-size: 80px;
        color: #029d5b;
    }

    .galerie_description p {
        text-align: center;
        font-size: 50px;
        color: #1c2126;
    }

    .galerie_description img {
        display: block;
        width: 100%;
    }

/* FOOTER */

    footer {
        background-color: #053b44;
        color: #ffff;
    }

    .footer_description h3 {
        text-align: center;
        font-size: 80px;

    }

    .footer_description p {
        text-align: center;
        font-size: 50px;
    }
    /* .form-item1{
        position: relative;
        bottom: 50px;
        left: 50%;
    }
    .form-item3 {
        position: relative;
        bottom: 50px;
        left: 50%;
    }

    #message{
        width: 100%;
        height: 250px;
    }

    input[type="button"] {
        display: block;
        border-radius: 20px;
        font-weight: bold;
        background-color: yellow;
        width: 10%;
        height: 20px;
        font-size: 100%;
    } */

  @media screen and (min-width: 1024px){ 

    body{
        background-color: white;
    }

    /* Header + NAV */

    header p{
        font-size: 30px;
        width: 30%;
        margin: 0%; 
    }
    
    header{
        display: flex;
        align-items: baseline;
        font-weight: bold;
    }
    
    nav li{
        margin-right: 40px;
    }
    
    
    nav a{
        font-size: 20px;
        color: #1c2126;
        text-decoration: none;
    } 
     
        /* BANNIERE*/
        .banniere{
            position: relative;
        }

        h1#banniere_title{
            position: absolute;
            color: #ffff;
            font-size: 56px;
            margin: 0;
            top: 72%;
            left: 53%;
        }

        span.title_color{
            color: #d5f31f;
        }

        /* #title1{
            position: absolute;
            top: 100%;
            left: 50%;
            margin: 0%;
            font-size: 60px;
            color: #ffffff;
            width: 60%;
        }

        span.title_color{
            color: #D5F31F;
            position: relative;
            right: 20%;
            font-size: 70px;
            display: block;
            width: 100%;
        } */

        img#vert{
            width: 100%;
        }
        
        /* NOTRE EQUIPE*/ 

        .team h2{
            font-size: 50px;

        }

        p.team_description{
            font-size: 30px;
        }

        .cards{
            display: flex;
           
        }
    
        .card h3{
             text-align: center;
            font-size: 30px;
        }
    
        .card p{
            text-align: center;
            font-size: 20px;
        }
    
        .card img{
            width: 50%;
            border-radius: 50%;
            height: 50%;
        }
        /* BANNIERE D'INFO*/ 
        .info_clients{
            
            background-color: #053b44;
            text-align: center;

        }

        .info_clients li{
            font-size: 20px;
        }

         span.info_number{
            
            font-size: 50px;    
        }

        /* NOS SERVICES*/

        .our_services h2{
            font-size: 50px;
        }

        .all_services {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }


        .services_description img {
            width: 50%;
            border-radius: 40px;
            border: solid #F6F5F5 80px;
        } 

        .services_description h3{
            font-size: 30px;
        }

        /* FORMULAIRE */

        .formulaire{
            padding: 80px;
        }

        .formulaire h2{
            font-size: 50px;
            margin: 0%;

        }

        .formulaire p{
            font-size: 30px;
            margin: 40px;
        }

        form{
            display: flex;
            flex-wrap:wrap;
            justify-content: flex-end;
        }

        .form_item-50-name{
            width: 50%;
        }

        .form_item-50-categorie{
            width: 50%;
        }

        .form_item-50-telephone{
            width: 50%;
        }

        .form_item-50-ville{
            width: 50%;
        }

        .form_item-100-email{
            width: 100%;
        }

        #email{
            width: 96%;
        }

        .form_item-100-message{
            width: 100%;
        }

        #message{
            width: 1147px;
            height: 441px;
            background-color: #053b44;
            border: none;
            border-bottom: solid #ffff;
            border-radius: 2px;
            font-size: 20px;
            margin: 40px;
            padding: 0;
    
        }

        form input {
            width: 50%;
            font-size: 20px;
            background-color: #053b44;
            border: none;
            border-bottom: solid #ffff;
            border-radius: 2px;
            margin: 40px;
            padding: 0;
        }

        input::placeholder {
            color: #ffff;
        }

        textarea::placeholder{
            color: #ffff;
        }

        input[type="button"] {
            background-color: #d5f31f;
            color: #053b44;
            font-weight: bold;
            border-radius: 20px;
            width: 10%;
        }

        /* ABOUT US */

        .aboutus{
            display: flex;
            padding: 80px;
        }

        .bureau {
            margin-right: 20px;
        }
        
        .bureau img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        .aboutus_description {
            /* display: flex; */
            border: solid  #053b44;
            border-radius: 20px;
            /* color: #053b44; */
            width: 100%;
        }
        
        .aboutus_description h2 {
            text-align: center;
            font-size: 30px;
        }
        
        .aboutus_description p {
            font-size: 20px;
            
        }
        
        .card2 img {
            border: solid #053b44 5px;
            border-radius: 50%;
            padding: 20px;
            width: 50%;
            height: 40%;
        }
        
        .card2 h3 {
            text-align: center;
            font-size: 20px;
        }

        /* NOTRE GALERIE */
        
        .galerie{
            padding: 80px;
        }

        .galerie_description h2 {
            font-size: 50px;
        }

        .galerie_description p {
            font-size: 30px;
        }

        .galerie_description img {
            display: block;
            width: 100%;
        }

        /* FOOTER */

        footer {
            background-color: #053b44;
        }

        .footer_description {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            padding: 40px;
        }

        .footer_description h3 {
            text-align: center;
            font-size: 40px;
        }

        .footer_description p {
            text-align: center;
            font-size: 15px;
            margin: 0;
            

        }

        .data_number{
            padding: 10px;

        }

        .data_adresse{
            padding: 10px;

        }

        .auteur{
            background-color: #042328;
            padding: 20px;
        }
    }
       
