/* NAVIGATEUR*/
body{
    
    height: 100%;
    font-size: 100%;
    margin: 0%;
    font-weight: bold;
    font-family: sans-serif;
}

/* HEADER + NAV */

header p{
    font-size: 20px;
    width: 30%;
    margin: 0%;
    color: #015A08;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

nav li{
    margin-right: 10px;
}

nav li:hover{
    cursor: pointer;
}

nav ul{
    list-style-type: none;
    text-align: center;
    padding:0%;
    margin: 0%;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* BANNIERE */  

.banniere{
    position: relative;
    padding: 80px;
}

h1#banniere_title{
    position: absolute;
    color: #ffff;
    font-size: 20px;
    margin: 0;
    top: 23%;
    left: 14%;
}

img#vert{
    width: 100%;
}



span.title_color{
    color: #d5f31f;
}

/* NOTRE EQUIPE */

.team{
    text-align: center;
    padding: 80px;
}

.team h2{
    font-size: 20px;
    color: #029d5b;
}

p.team_description{
    font-size: 10px;
    color: #1c2126;
}

.card h3{
    font-size: 20px;
    margin: 20px;
    color: #1c2126;
}
.card ul{

    font-size: 10px;
    margin: 20px;
    color: #565D65;
    list-style-type: none;
    padding: 0;
}

.card img{
    width: 25%;
    border-radius: 50%;
    margin-top: 40px;
}

/* BARRE D'INFO */
.info_clients{
    text-align:center;
    background-color: #053b44; 
}

.info_clients ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.info_clients li{
    font-size: 10px;
    padding:40px;
    color: #ffff;
}

 span.info_number{
     display: block;
     color: #d5f31f;
     font-size: 20px;

}

/* NOS SERVICES */

.our_services{
    text-align: center;
    padding: 80px;
}

.our_services h2{
    font-size: 20px;
    color: #029d5b;
}

.services_description img{
    width: 18%;
    border-radius: 40px;
    border: solid #F6F5F5 35px;
    padding: 0;
}

.our_services h2:hover{
    background-color: #042328;
    color: #ffff;
}

.services_description img:hover{
    border-color: navy;
}

.services_description h3:hover{
    background-color: #042328;
    color: #ffff;
}

.our_services:hover{
    cursor: pointer;
}

.services_description h3{
    font-size: 10px;
    color: #1c2126;
    margin-bottom: 50px;
}

/* FORMULAIRe */

.formulaire{
    background-color: #053b44;
    padding: 80px;
}

.formulaire h2{
    font-size: 20px;
    text-align: center;
    color: #d5f31f;
}

.formulaire p{
    text-align: center;
    font-size: 10px;
    color: #ffff;
}


form input{
    width: 100%;
    font-size: 15px;
    background-color: #053b44;
    border: none;
    border-bottom: solid #ffff 5px;
    border-radius: 2px;
    margin: 40px 0px;
    padding: 0;
    color: #ffff;
}

input::placeholder {
    color: #ffff;
}

textarea::placeholder{
    color: #ffff;
    font-size: 10px;
}


#message{
     width: 773px;
    height: 456px; 
    background-color: #053b44;
    border: none;
    border-bottom: solid #ffff;
    border-radius: 2px;
    margin: 0px;
    padding: 0;
    color: #ffff;

}

#email{
    width: 100%;
}


input[type="button"] {
    background-color: #d5f31f;
    color: #053b44;
    font-weight: bold;
    border-radius: 20px;
    max-width: 127px;
    padding: 6px 6px;
}

input[type="button"]:hover{
    cursor: pointer;
}
/* ABOUT_US */

.bureau img {
    width: 100%;
}

.aboutus_description {
    /* display: flex; */
    text-align: center;
    border: solid  #053b44;
    border-radius: 20px;
    /* color: #053b44; */
    padding: 0%;
    
}

.aboutus_description h2 {
    text-align: center;
    font-size: 20px;
}

.aboutus_description p {
    font-size: 10px;
    color: #565D65;
}

.card2 img {
    border: solid #053b44 5px;
    border-radius: 50%;
    padding: 20px;
    object-fit: contain;
}

.card2 h3 {
    text-align: center;
    font-size: 10px;
    color: #053b44;
    margin: 10px 0px;
}

/* NOTRE GALERIE */

.galerie{
    padding: 80px;
}

.galerie_description h2 {
    text-align: center;
    font-size: 20px;
    color: #029d5b;
}

.galerie_description p {
    text-align: center;
    font-size: 10px;
    color: #1c2126;
}

.galerie_description img {
    width: 100%;
    
}

/* FOOTER */

footer {
    background-color: #053b44;
    color: #ffff;
}

.footer_description{
    text-align: center;
}

.footer_description h3 {
    font-size: 20px;

}

.footer_description p {
    text-align: center;
}

.footer_description ul{
    list-style-type: none;
    font-size: 10px;
    padding: 0;
}

.data_number{
    padding: 10px;
  
}

a.number2 {
    margin-left: 20px;
}

a.number1 {
    margin-right: 20px;
}

.description_data a,p{
    font-size: 10px;
}

.data_number a{
    display: block;
    color: white;
    text-decoration: none;
}

svg.icon-phone{
    width: 23px;
    height: 27px;
    fill: #d5f31f;
    transform: translate(-9px, 11px);
    /* position: absolute;
    right: 144px;
    top: 14px; */
} 

svg.icon-navigation {
    width: 23px;
    height: 27px;
    fill: #D5F31F;
    transform: translate(-9px, 11px);
    /* position: absolute;
    right: 144px;
    bottom: 26px; */
}

/* a.number1{
    display: flex;
    justify-content: end;
} */

/* .description_data a.number1::before{
    content: url("resources/resources2/phone.svg");
    margin-right: 0.55rem;
    background-color: #F6F5F5;
} */

/* a.number1::before{
   content: url("resources/resources2/tel.svg");
   
} */



.auteur{
    background-color: #042328;
    padding: 10px;
    text-align: center;
    
}

.auteur p{
    font-size: 5px;
}

.auteur svg{
    width: 5px;
    height: 5px;
    fill: #ffff;
    border: solid 1px;
    padding: 5px;
    border-radius: 30%;
    margin-right: 0px;
}



@media screen and (min-width: 1024px){ 

body{
    background-color: white;
}

/* Header + NAV */

header p{
    font-size: 30px;
    width: 30%;
    margin: 0%; 
}

header{
    display: flex;
    align-items: baseline;
    font-weight: bold;
}

nav li{
    margin-right: 20px;
}

nav ul {
    display: flex;
}


nav a{
    font-size: 20px;
    text-decoration: none;
} 
 
    /* BANNIERE*/
    .banniere{
        position: relative;
        padding: 0px;
    }

    h1#banniere_title{
        position: absolute;
        color: #ffff;
        font-size: 56px;
        margin: 0;
        top: 72%;
        left: 53%;
    }

    span.title_color{
        color: #d5f31f;
    }


    img#vert{
        width: 100%;
    }
    
    /* NOTRE EQUIPE*/ 

    .team h2{
        font-size: 50px;

    }

    p.team_description{
        font-size: 30px;
    }

    .cards{
        display: flex;
        justify-content: space-evenly;
    }

    .card img{
        width: 150px;
        border-radius: 50%;
        height: 150px;
        object-fit: cover;
        margin-top: 40px;
    }

    .card ul{
        font-size: 20px;
    }

    .card h3{
         text-align: center;
        font-size: 30px; 
    }

    
    /* BANNIERE D'INFO*/ 
    .info_clients{
        
        background-color: #053b44;
    }

    .info_clients ul{
        display: flex;
        justify-content: space-evenly;
    }

    .info_clients li{
        font-size: 20px;
    }

     span.info_number{
        
        font-size: 50px;    
    }

    /* NOS SERVICES*/

    .our_services h2{
        font-size: 50px;
        margin: 0px 0px 80px 0px;
    }

    .all_services {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }


    .services_description img {
        width: 50%;
        border-radius: 40px;
        border: solid #F6F5F5 80px;
    } 

    .services_description h3{
        font-size: 30px;
    }

    /* FORMULAIRE */

    .formulaire{
        padding: 80px;
    }

    .formulaire h2{
        font-size: 50px;
        margin: 0%;

    }

    .formulaire p{
        font-size: 30px;
        margin: 40px;
    }

    form{
        display: flex;
        flex-wrap:wrap;
        justify-content: flex-end;
    }

     form .form_item-50:nth-child(even){
        margin-left: 4rem;
    }

    .form_item-50{
        width: calc(50% - 2rem);        
    }

    .form_item-100{
       width: 100%;
    }

    #email{
        width: 100%;
    }

    #message{
        width: 1188px;
        height: 438px;
        background-color: #053b44;
        border: none;
        border-bottom: solid #ffff;
        border-radius: 2px;
        font-size: 20px;

    }

    form input {
        width: 100%;
        font-size: 20px;
        background-color: #053b44;
        border: none;
        border-bottom: solid #ffff;
        border-radius: 2px;
        margin: 40px 0;
        padding: 0;
    }

    textarea::placeholder{
        color: #ffff;
        font-size: 20px;
    }

    input[type="button"] {
        font-size: 10px;
        max-width: 100px;
        padding: 0.5rem 0.5rem;
        border-bottom: none;
        margin: 20px 0px;
    }

    /* ABOUT US */

    .aboutus{
        display: flex;
        padding: 80px;
    }

    .bureau {
        margin-right: 20px;
    }
    
    .bureau img {
        border-radius: 20px;
    }

    .aboutus_description {
        padding:20px;
    }
    
    .aboutus_description h2 {
        text-align: center;
        font-size: 30px;
    }
    
    .aboutus_description p {
        font-size: 20px;
        
    }

    .cards2{
        display: flex;
        justify-content: space-evenly;
        margin-top: 80px;
    }
    
    .card2 img {
        border: solid #053b44 5px;
        border-radius: 50%;
        padding: 20px;
        width: 36%;
        height: 36%;
    }
    
    .card2 h3 {
        text-align: center;
        font-size: 20px;
        padding: 0%;
    }

    /* NOTRE GALERIE */

    .galerie_description h2 {
        font-size: 50px;
    }

    .galerie_description p {
        font-size: 30px;
    }

    .galerie_description img {
        width: 100%;
        border-radius: 20px;
        margin: 50px 0px;
    }

    /* FOOTER */

    footer {
        background-color: #053b44;
    }

    .footer_description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        padding: 20px 0px;
        text-align: initial;
    }

    .footer_description h3 {
        font-size: 24px;
    }

    .footer_description p {
        text-align: center;
        font-size: 15px;
        margin: 0;
    }

    .footer_description ul{
        font-size: 15px;
        padding: 0;
    }
    
    
    .data_number ul{
        list-style-type: none;
    }

    .data_number a{
        font-size: 15px;
        margin: 0px;
    }

    .data_adresse{
        padding: 10px;

    }
    /* MISE EN PLACE DES ICONES TELEPHONE ET NAVIGATION */

    .data_number{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    .description_data{
        /* position: relative; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
    }

    svg.icon-phone{
        width: 15px;
        height: 15px;
        fill: #d5f31f;
        transform: translate(-9px, 11px);
        /* position: absolute;
        right: 144px;
        top: 14px; */
    } 

    svg.icon-navigation {
        width: 15px;
        height: 15px;
        fill: #D5F31F;
        transform: translate(-9px, 11px);
        /* position: absolute;
        right: 144px;
        bottom: 26px; */
    }
    /* FIN DE LA MISE EN PLACE DES ICONES TELEPHONE ET NAVIGATION */

    .auteur{
        background-color: #042328;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .auteur p {
        margin: 0px 60px;
        text-align: initial;
        font-size: 15px;
    }

    .auteur svg{
        width: 15px;
        height: 15px;
        fill: #ffff;
        border: solid 3px;
        padding: 10px;
        border-radius: 30%;
        margin-right: 20px;
    }
    .reseau_sociaux{
        width: 17%;
        display: flex;
    }
}

    
   
