/* NAVIGATEUR*/
html{
    font-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}




 /* HEADER + NAV */

header p{
    background-color:#e1dFE5;
    font-size: 60px;
    width: 100%;
    margin: 0%;
}

header{
    display: flex;
    width: 100%;
}

nav li{
    margin-right: 10px;
    
}

nav ul{
    list-style-type: none;
    background-color: grey;
    display: flex;
    width: 100%;
    padding:0%;
    margin: 0%;
}

nav a{
    font-size: 60px;
    color: #1c2126;
    text-decoration: none;
}

/* BANNIERE */  


/* NOTRE EQUIPE */

.team{
    text-align: center;
    width: 100%;
    padding: 80px;
    background-color: green;
}

.team h2{
    font-size: 80px;
}

p.team_description{
    width: 90%;
    font-size: 90px;
}

.cards{
    width: 100%;
}

.card h3{
    font-size: 80px;
    margin: 20px;
}
.card p{
    
    font-size: 80px;
    width: 90%;
    margin: 20px;
}

.card img{
    width: 33%;
}   

/* BARRE D'INFO */
#témoignages{
    background-color: #053b44;
    display: flex;
    width: 100%;
}

/* NOS SERVICES */

.our_services{
    text-align: center;
    width: 100%;
    padding: 80px;
}

.our_services h2{
    font-size: 45px;
}

.services_description img{
    background-color: #F6F5F5;
    width: 33%;
    padding: 10%;
    border-radius: 40%;
}

.services_description h3{
    font-size: 45px;
}

/* FORMULAIRE */

.section3{
    background-color: #053b44;
    width: 100%;
}

.section3 h2{
    font-size: 45px;
    text-align: center;
}

.section3 p{
    text-align: center;
    font: 45px;
}



 @media screen and (min-width: 1024px){ 

     /* Header + NAV  */

    header p{
        background-color:#e1dFE5;
        font-size: 20px;
        width: 100%;
        margin: 0%;
        }
    
    header{
            display: flex;
            width: 100%;
    }
    
    nav li{
            margin-right: 10px;
    }
    
    nav ul{
            list-style-type: none;
            background-color: grey;
            display: flex;
            width: 100%;
            padding:0%;
            margin: 0%;
    }
    
    nav a{
            font-size: 20px;
            color: #1c2126;
            text-decoration: none;
    }
    
     /* BANNIERE  */
     /* NOTRE EQUIPE  */
    .team {
        text-align: center;
        width: 100%;
        background-color: blue;
    }
    .cards{
        display: flex;
        width: 100%;
    }
    
    .card h3
    .card p{
        text-align: center;
        font-size: 20px;
    }
    
    .card,p {
        text-align: center;
        font-size: 20px;
    }
    
    .card img{
        width: 33%;
        border-radius: 50%;
    }
    /* BANNIERE D'INFO */ 
    #témoignages{
        background-color: #053b44;
        display: flex;
    }
    
    /* NOS SERVICES */
    
    .footer_description{
        display: flex;
    }
}
.services_description img {
    background-color: #F6F5F5;
    width: 33%;
    padding: 10%;
    border-radius: 40%;
}
